.saveWrapper {
    position: absolute;
    bottom: 22px;
    right: 22px;
}

.saveButton {
    color: white;
    font-size: 30px;
    transition: transform 0.2s ease-in-out;
}

.saveButton:hover {
    color: white;
    transform: scale(1.2);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8) !important;
}

