.info-wrapper {
    position: absolute;
    pointer-events: auto;
}

.info-wrapper:hover {
    z-index: 99;
}

.info-container {
    position: absolute;
    background-color: white;
    width: 40px;
    height: 40px;
    top: -20px;
    left: -20px;
    border-radius: 20px;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
    overflow: hidden;
    box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.info-container:hover {
    width: 300px;
    height: var(--inner-height);
}

.info-inner {
    width: 300px;
    padding: 15px 15px 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    display: flex;
    flex-direction: column;
}

.info-container:hover .info-inner{
    opacity: 1;
    pointer-events: auto;
}

.info-icon {
    width: 40px;
    height: 40px;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
}

.info-container:hover .info-icon{
    opacity: 0;
}

.info-text {
    min-height: 80px;
    color: #222222;
    white-space: pre-wrap;
}

.info-button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

.info-button {
    cursor: pointer;
    display: inline;
    margin: 0 5px;
    color: #5793fb;
    font-size: 26px;
}