@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

div, label, input, textarea {
  box-sizing: border-box;
}

p {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: unset;
}

label {
  cursor: pointer;
}

textarea {
  background-color: transparent;
  outline: none;
  font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 14px 14px transparent;
  border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 14px 14px #777;
  border: solid 4px transparent;
  border-radius: 14px;
}
::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0 0 14px 14px #666;
}

::-webkit-scrollbar-button {
  display: none;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.pointer {
  cursor: pointer;
}

.grey-box {
  position: relative;
  width: 500px;
  max-height: 90%;
  background-color: rgba(200, 200, 200, 0.6);
  border-radius: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  overflow-y: scroll;
  overflow-x: hidden;
}
.grey-box .message-text {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}
.grey-box .scroll-wrapper {
  width: 100%;
  max-height: 100%;
}
.grey-box .content-container {
  padding: 40px 40px;
}
.grey-box .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.border-box {
  position: relative;
  border: 1px solid white;
  border-radius: 15px;
  color: white !important;
  overflow: hidden;
  color: white;
}

.border-box-small {
  border: 1px solid white;
  border-radius: 13px;
  padding: 8px 20px;
  font-size: 16px;
  font-weight: normal;
  align-self: center;
  display: inline-block;
  color: white;
  background-color: transparent;
  transition: all 0.5s ease;
}
.border-box-small.animate:hover {
  background-color: white;
  color: black;
}

#panorama-container {
  width: 100%;
  height: 100%;
}

.components-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.components-container #loading-progress {
  width: 0;
  height: 5px;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.components-container #loading-progress.is-finished {
  opacity: 0;
}

.menu-wrapper {
  pointer-events: auto;
  position: absolute;
  width: 15px;
  height: 15px;
}
.menu-wrapper .menu-container {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  padding: 10px 18px;
  position: absolute;
  top: -15px;
  left: 40px;
  width: 230px;
}
.menu-wrapper .menu-container .option {
  width: 100%;
  margin: 15px 0;
  cursor: pointer;
}
.menu-wrapper .menu-container::after {
  content: " ";
  position: absolute;
  top: 15px;
  left: -22px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 22px solid rgba(0, 0, 0, 0.4);
}

.upload-container {
  min-height: 600px;
  position: relative;
  font-size: 16px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.upload-container .scene-image-preview {
  width: 100%;
  height: auto;
}
.upload-container .is-drag-over label, .upload-container .is-drag-over div, .upload-container .is-drag-over img {
  pointer-events: none;
}
.upload-container input {
  background-color: transparent;
  outline: none !important;
  color: white;
}
.upload-container .warning-text {
  font-size: 22px;
  font-weight: 600;
}
.upload-container .border-box {
  width: 100%;
}
.upload-container .heading {
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 5px;
}
.upload-container .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.upload-container .images-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.upload-container .images-container .image-wrapper {
  position: relative;
  width: calc(33.333% - 10px);
  height: 115px;
  margin: 5px 5px;
}
.upload-container .images-container .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.upload-container .images-container .image-wrapper .image-button {
  width: 20px;
  height: 20px;
  object-fit: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  margin: 0 15px;
}
.upload-container .images-container .image-wrapper:hover .overlay {
  opacity: 1;
}
.upload-container .images-container .image-wrapper:hover .image-button {
  opacity: 1;
  pointer-events: auto;
}
.upload-container .video-wrapper {
  width: 100%;
  height: 200px;
  position: relative;
}
.upload-container .video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.upload-container .video-wrapper:hover .overlay {
  opacity: 1;
}
.upload-container .video-wrapper:hover .delete-button {
  opacity: 1;
  pointer-events: auto;
}
.upload-container #upload-video,
.upload-container #upload-image {
  display: none;
}

.detail-container {
  position: relative;
  color: white;
  font-size: 16px;
}
.detail-container p {
  width: 100%;
}
.detail-container.video-container {
  width: 700px;
  max-height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 20px;
}
.detail-container .images-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 10px;
}
.detail-container .images-container .image-wrapper {
  position: relative;
  width: 33.33%;
  height: 120px;
  padding: 5px;
}
.detail-container .images-container .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.detail-container video {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.three-d-editor-wrapper {
  position: absolute;
  width: 100px;
  height: 100px;
}
.three-d-editor-wrapper:hover {
  z-index: 99;
}
.three-d-editor-wrapper .three-d-editor-button {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  flex-shrink: 0;
  cursor: pointer;
  pointer-events: auto;
}
.three-d-editor-wrapper .three-d-editor-close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.three-d-editor-wrapper .three-d-editor {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 10px;
  border-radius: 13px;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-in-out 0.1s;
  pointer-events: auto;
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.three-d-editor-wrapper .three-d-editor-slider {
  display: block;
  position: relative;
  width: 160px;
  height: 20px;
  margin: 5px 0;
}
.three-d-editor-wrapper .three-d-editor-slider input[type=range] {
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.three-d-editor-wrapper .three-d-editor-slider .three-d-editor-slider-track {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 8px;
  border: 1px solid white;
  border-radius: 4px;
}
.three-d-editor-wrapper .three-d-editor-slider .three-d-editor-slider-thumb {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: white;
}
.three-d-editor-wrapper .three-d-editor-slider .three-d-editor-slider-progress {
  margin-left: 50%;
  height: 100%;
  background-color: white;
}
.three-d-editor-wrapper .three-d-editor-slider-label {
  font-size: 16px;
  font-style: italic;
  margin-right: 8px;
  font-weight: 400;
}

.dark-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.dark-overlay.is-visible {
  opacity: 1;
  pointer-events: auto;
}
.dark-overlay .dark-overlay-click-area {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.control-bar {
  position: absolute;
  bottom: 22px;
  right: 22px;
  display: flex;
  align-items: center;
}
.control-bar .control-bar-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 30px;
  transition: transform 0.2s ease-in-out;
  margin: 0 7px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3) !important;
}
.control-bar .control-bar-button:hover {
  color: white;
  transform: scale(1.2);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8) !important;
}
.control-bar .control-bar-button:hover::after {
  content: var(--tipText);
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
  text-align: center;
  position: absolute;
  background-color: white;
  padding: 5px;
  border-radius: 6px;
  font-size: 13px;
  color: black;
  bottom: calc(100% + 5px);
  left: 50%;
  transform: translate(-50%);
}

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}
.loader-container.is-shown {
  opacity: 1;
}
.loader-container .loader {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loader-container .loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: loading 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.loader-container .loader div:nth-child(1) {
  animation-delay: -0.45s;
}
.loader-container .loader div:nth-child(2) {
  animation-delay: -0.3s;
}
.loader-container .loader div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swiper-container {
  width: 100%;
  height: 230px;
}
.swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbs .swiper-container {
  width: 100%;
  height: 90px;
}
.thumbs .swiper-container .swiper-slide {
  cursor: pointer;
  width: 115px;
}
.thumbs .swiper-container .swiper-slide img {
  display: block;
  width: 100％;
  height: 100%;
  object-fit: cover;
}

.slider-arrow {
  position: absolute;
  top: 200px;
  z-index: 99;
}

/*# sourceMappingURL=styles.css.map */
